<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <!-- Otras pestañas -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/home2']" routerLinkActive="selected">
        <ion-icon aria-hidden="true" name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <!-- Otras pestañas -->
      <ion-tab-button [routerLink]="['/historial2']">
        <ion-icon aria-hidden="true" name="document-text"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
      <!-- Otras pestañas -->
      <ion-tab-button [routerLink]="['/cuenta2']">
        <ion-icon aria-hidden="true" name="person"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  



  <div class="row"></div>

  <div class="row1">
    <div class="col">
      ¡Bienvenido!
      <div class="col-sm">
        Pasajero  
      </div>
    </div>
  </div>

  <ion-card>
    <img alt="Buscar Viaje" src="./../../assets/img/passenger.png" class="img-size" />
    <ion-card-header>
      <ion-card-title>Buscar Viaje</ion-card-title>
      <ion-card-subtitle>Encuentra estudiantes con rutas que te acomoden.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Busca un viaje y reserva un puesto
    </ion-card-content>

    <ion-button fill="clear">Buscar</ion-button>
  </ion-card>
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Último Conductor
    </div>
  </div>

      <div class="col-sm">
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                Conductor: David Espinosa
              </ion-item>
              <ion-item>
                <ion-label>Fecha: 01/09/2023</ion-label>
              </ion-item>
        
              <ion-item>
                <ion-label>Hora: 17:20</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
