<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Escoge la ruta que más te acomode
      <div class="col-sm">
        Estos son los datos del trayecto
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>David Espinosa</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/1988880_car_front_vehicle_icon.png" alt="" class="img-size">
        <div>
          <p>Dirección: Eyzaguirre 2131</p>
          <p>Salida: 12:40</p>
          <p>Precio: $2.750 CLP</p>
          <p>Cupos: 3</p>
        </div>
        <ion-button color="success" expand="block" (click)="viajeencursop()">Seleccionar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cristian Vera</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/1988880_car_front_vehicle_icon.png" alt="" class="img-size">
        <div>
          <p>Dirección: San Carlos 3625</p>
          <p>Salida: 15:15</p>
          <p>Precio: $1.500 CLP</p>
          <p>Cupos: 2</p>
        </div>
        <ion-button color="success" expand="block" (click)="viajeencursop()">Seleccionar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
