<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Escoge la ruta que más te acomode
      <div class="col-sm">
        Estos son los datos del trayecto
      </div>
    </div>
  </div>
  
  <div *ngIf="mostrarElemento; else elseBlock">
    <ion-card>
      <ion-card-header>
        <ion-card-title>David Espinosa</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div class="row-card">
          <img src="./../../assets/img/1988880_car_front_vehicle_icon.png" alt="" class="img-size">
          <div>
            <p>Dirección: {{ viaje.direccion }}</p>
            <p>Salida: {{ viaje.hora }}</p>
            <p>Precio: ${{ viaje.valor }} CLP</p>
            <p>Cupos: {{ viaje.cupo }}</p>
          </div>
          <ion-button color="success" expand="block" (click)="viajeencursop()">Seleccionar</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #elseBlock>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No hay viajes disponibles</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ng-template>


</ion-content>
