<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Pasajeros
      <div class="col-sm">
        Aqui encontrarás a los pasajeros y los detalles del trayecto. 
      </div>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>06/09/2023</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/1988880_car_front_vehicle_icon.png" alt="" class="img-size">
        <div>
          <p>Dirección: Av mexico 2021</p>
          <p>Salida: 17:20</p>
          <p>Precio: $1700 CLP</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>David Espinosa</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/403017_avatar_default_head_person_unknown_icon.png" alt="" class="img-size">
        <div>
          <p>Contacto: 983027493</p>
          <p>Pago: Efectivo</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Cristian Urquiza</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/403017_avatar_default_head_person_unknown_icon.png" alt="" class="img-size">
        <div>
          <p>Contacto: 943729455</p>
          <p>Pago: Transferencia</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>


  
  
</ion-content>
