<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Detalle viaje
      <div class="col-sm">
        Estos son los datos de tu trayecto
      </div>
    </div>
  </div>

  <div class="row"></div>

  <div style="margin-inline: 40px;">
    <ion-list>
      <ion-item>
        Dirección: Eyzaguirre 2131
      </ion-item>
      <ion-item>
        Hora: 12:40
      </ion-item>
      <ion-item>
        Valor: $2.750
      </ion-item>
      <ion-item>
        Cupos disponibles: 3
      </ion-item>
      <ion-item>
        Patente: WD-JK-46
      </ion-item>
      <ion-item>
        Modelo: Hyundai Elantra 2019
      </ion-item>
      <ion-item>
        Contacto: 94536207
      </ion-item>
    </ion-list>
    <br>
    <img alt="Iniciar Viaje" src="./../../assets/img/Map.png" class="img-con-margen"/>

    <div style="margin-top: 5%;">
      <ion-button color="success">Aceptar viaje</ion-button>
    </div>

  </div>

  <div class="row1" style="margin-top: 5%;">
    <div class="col">
      Pasajeros
    </div>
    <ion-list>
      <ion-item>
        Ignacio Riffo
      </ion-item>
      <ion-item>
        Darliett Candia
      </ion-item>
    </ion-list>
  </div>

</ion-content>
