<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      ¡Bienvenido!
      <div class="col-sm">
      </div>
    </div>
  </div>
  <!--
  <ion-card>
    <img alt="Buscar Viaje" src="./../../assets/img/passenger.png" class="img-size" />
    <ion-card-header>
      <ion-card-title>Buscar Viaje</ion-card-title>
      <ion-card-subtitle>Encuentra estudiantes con rutas que te acomoden.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Busca un viaje y reserva un puesto
    </ion-card-content>
    <ion-button fill="clear" (click)="buscarviaje()">Buscar</ion-button>
  </ion-card>-->
  
  <ion-card>
    <img alt="Iniciar Viaje" src="./../../assets/img/image (1).png" class="img-size" />
    <ion-card-header>
      <ion-card-title>Iniciar Viaje </ion-card-title>
      <ion-card-subtitle>Invita estudiantes a ir contigo.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Inicia un viaje para que los estudiantes puedan reservar un puesto y los acerques a su destino.
    </ion-card-content>

    <ion-button fill="clear" (click)="nuevoviaje()">Iniciar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Iniciar Viaje" src="./../../assets/img/image (2).png" />
    <ion-card-header>
      <ion-card-title>Ganancias </ion-card-title>
      <ion-card-subtitle>Revisa tus ganancias.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ve el historial de pagos que has recibido.
    </ion-card-content>

    <ion-button fill="clear" (click)="ganancias()">Ver</ion-button>
  </ion-card>

</ion-content>
