<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      ¡Bienvenido!
      <div class="col-sm">
        Conductor {{email}}
      </div>
    </div>
  </div>
  
  <ion-card>
    <img alt="Iniciar Viaje" src="./../../assets/img/image (1).png" class="img-size" />
    <ion-card-header>
      <ion-card-title>Iniciar Viaje </ion-card-title>
      <ion-card-subtitle>Invita estudiantes a ir contigo.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Inicia un viaje para que los estudiantes puedan reservar un puesto y los acerques a su destino.
    </ion-card-content>

    <ion-button fill="clear">Iniciar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Iniciar Viaje" src="./../../assets/img/image (2).png" />
    <ion-card-header>
      <ion-card-title>Ganancias </ion-card-title>
      <ion-card-subtitle>Revisa tus ganancias.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ve el historial de pagos que has recibido.
    </ion-card-content>

    <ion-button fill="clear">Ver</ion-button>
  </ion-card>

</ion-content>
