<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Nuevo Viaje
      <div class="col-sm">
        Ingrese los datos del trayecto
      </div>
    </div>
  </div>

  <div class="row"></div>

  <div style="margin-inline: 40px;">
    <form (ngSubmit)="grabarViaje()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Hora</ion-label>
          <ion-input [(ngModel)]="hora" name="hora" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input [(ngModel)]="valor" name="valor" type="number" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Cupos</ion-label>
          <ion-input [(ngModel)]="cupo" name="cupo" type="number" required></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button type="submit" color="success" expand="block" (click)="viajeencurso()">Registrar viaje</ion-button>
    </form>
  </div>
</ion-content>
