<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
crossorigin=""/>


<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Detalle Viaje
      <div class="col-sm">
        Estos son los datos de tu trayecto
      </div>
    </div>
  </div>

  <div class="row"></div>

  <div style="margin-inline: 40px;">
    <ion-list>
      <ion-item>
        Dirección: Av las nieves 02196
      </ion-item>
      <ion-item>
        Hora: 13:40
      </ion-item>
      <ion-item>
        Valor: $1000
      </ion-item>
      <ion-item>
        Cupos disponibles: 2
      </ion-item>
    </ion-list>
    <br>
    
    <div id="mapId" style="width: 320px;height: 250px;border: solid 2px black;">
    </div>

    <div style="margin-top: 5%;">
      <ion-button color="success">Comenzar viaje</ion-button>
      <ion-button color="danger" (click)="inicio()">Cancelar viaje</ion-button>
    </div>

  </div>

  <div class="row1" style="margin-top: 5%;">
    <div class="col">
      Pasajeros
    </div>
    <ion-list>
      <ion-item>
        Ignacio Riffo
      </ion-item>
      <ion-item>
        Darliett Candia
      </ion-item>
    </ion-list>
  </div>


</ion-content>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
crossorigin=""></script>