<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Datos del perfil
    </div>
  </div>
  
  <ion-card class="card-flex">
    <div class="card-content">
      <div class="contenido">
        <!-- Imagen en la parte superior con margen derecho -->
        <img alt="Iniciar Viaje" src="./../../assets/img/403017_avatar_default_head_person_unknown_icon.png" class="img-con-margen"/>
      
        <!-- Contenido a la derecha -->
        <form>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input name="nombre" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Apellido</ion-label>
              <ion-input name="apellido" type="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Celular</ion-label>
              <ion-input name="celular" type="number" required></ion-input>
            </ion-item>
          </ion-list>
          <br>
          <ion-button type="submit" color="success" expand="block">Guardar</ion-button>
        </form>
      </div>
    </div>
  </ion-card>
</ion-content>


