<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row"></div>

  <div class="row1">
    <div class="col">
      Historial
      <div class="col-sm">
        Aqui se mostraran todos tus pagos recibidos 
      </div>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>08/09/2023</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/7013421_marketing_finance_business_money_payment_icon.png" alt="" class="img-size">
        <div>
          <p>Dirección: Av mexico 2021</p>
          <p>Salida: 17:20</p>
          <p>Precio: $5100 CLP</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>05/09/2023</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/7013421_marketing_finance_business_money_payment_icon.png" alt="" class="img-size">
        <div>
          <p>Dirección: Av las nieves 02196</p>
          <p>Salida: 13:40</p>
          <p>Precio: $4000 CLP</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>02/09/2023</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="row-card">
        <img src="./../../assets/img/7013421_marketing_finance_business_money_payment_icon.png" alt="" class="img-size">
        <div>
          <p>Dirección: Av las nieves 02196</p>
          <p>Salida: 15:10</p>
          <p>Total: $6000 CLP</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
